﻿@model Restaurantly.AcunMedya.Entities.Reservation

@{
    ViewBag.Title = "AddReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Rezervasyon Ekle</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rezervasyon Ekle</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            <label>ID</label>
                            @Html.TextBoxFor(x => x.ReservationId, new { @class = "form-control" })
                            <label>İsim</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            <label>Email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            <label>Telefon</label>
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                            <label>Açıklama</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                            <label>Tarih</label>
                            @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
                            <label>Kişi Sayısı</label>
                            @Html.TextBoxFor(x => x.GuestCount, new { @class = "form-control" })
                            <label>Durum</label>
                            @Html.TextBoxFor(x => x.ReservationStatus, new { @class = "form-control" })


                        </div>

                        <button type="submit" class="btn btn-dark gradient-2">Rezervasyon Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


